<% include ../partials/headder %>


<h1>Login</h1>
<form class="" action="/users/login" method="post">
  <input type="text" name="email" value="email">
  <input type="text" name="password" value="password">
  <input type="submit" name="sumbit" value="LogIn">
</form>


<% include  ../partials/footer %>
