<% include ../partials/headder %>


<h1>Trips</h1>
<form class="" action="/trips" method="post">
  <label for="name">Name of trip</label>
  <input type="text" name="name" placeholder="name">
  <label for="start_date">Start date</label>
  <input type="date" name="start_date" placeholder="Starting Date">
  <label for="end_date">End date</label>
  <input type="date" name="end_date" placeholder="Ending Date">
</form>


<% include  ../partials/footer %>
