<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js" charset="utf-8"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">TripTracker</a>
        </div>
        <ul class="nav navbar-nav">
          <li class=""><a href="/">Home</a></li>
          <li><a href="/users/login">login</a></li>
          <li><a href="/users/new">signUp</a></li>
          <li><a href="/trips/new">Create trip</a></li>
          <li><a href="/days/new">Create day</a></li>
        </ul>
      </div>
    </nav>
