<% include ./partials/headder %>

<div id="index-hero">
  <h1>Trip Tracker</h1>
</div>
<div class="container">
  <div class="row" id="selections">
    <div class="card-deck-wrapper">
      <div class="card-deck">
        <div class="card col-sm-4 text-xs-center">
          <h3 class="card-header">Want to use?</h3>
          <div class="card-block">
            <h4 class="card-title">Sign Up/Sign In</h4>
            <p class="card-text">in just a few minutes you can have access to our system. <br> Why don't you let us make your work easier?</p>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signIn">Sign In</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signUp">Sign Up</button>
          </div>
        </div>
        <div class="card col-sm-4 text-xs-center card-primary">
          <h3 class="card-header">About us</h3>
          <div class="card-block">
            <h4 class="card-title">Simple and easy</h4>
            <p class="card-text">Trip tracker is a simple solution to keep your milage all in one place. At the end of the year just download all of your trip tables and turn them in. That is it! there is nothing more to worry about. Easy right?</p>
          </div>
        </div>
        <div class="card col-sm-4">
          <h3 class="card-header">Contact Us</h3>
          <div class="card-block">
            <h4 class="card-title">Social</h4>
            <p class="card-text">
              Have a cool idea or need to ask us a question? <br>
              Send us an email <a href="mailto:snooper90@gmail.com?Subject=TripTracker%20request"> <strong>here</strong></a><br>
              Or follow us at one of the following.
            </p>
            <p class="card-text">
              <a href="#Facebook" class="btn btn-primary">facebook</a>
              <a href="#twitter" class="btn btn-primary">twitter</a>
              <a href="#instagram" class="btn btn-primary">instagram</a>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
	<div class="row">

        <%# modal for signIn %>
        <div class="modal" id="signIn">
          <div class="col-sm-4 col-sm-offset-4 formBkg">
            <div class="modal-header">
              <button type="button" class="btn bt-primary close" data-dismiss="modal">Close X</button>
              <h3>Login to TripTracker</h3>
            </div>
            <div class="modal-body">
              <form action="/users/login" method="post" name="login_form">
                <p>
                  <input type="text" name="email" placeholder="email">
                </p>
                <p>
                  <input type="text" name="password" placeholder="password">
                </p>
                <p><button type="submit" class="btn btn-primary">Sign in</button>
                </p>
              </form>
            </div>
            <div class="modal-footer">
              New To TripTracker?
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#signIn, #signUp">Register</button>

            </div>
          </div>
        </div>

        <%# modal for signIn %>
        <div class="modal" id="signUp">
          <div class="col-sm-4 col-sm-offset-4 formBkg">
            <div class="modal-header">
              <button type="button" class="btn bt-primary close" data-dismiss="modal">Close</button>
              <h3>Sign up for TripTracker</h3>
            </div>
            <div class="modal-body">
              <form  action="/users/register" method="post" name="signUp_form">
                <p>
                  <input type="text" name="email" placeholder="email">
                </p>
                <p>
                  <input type="text" name="password" placeholder="password">
                </p>
                <p><button type="submit" class="btn btn-primary">Sign Up</button>
                </p>
              </form>
            </div>
            <div class="modal-footer">
              Already have an account?
              <button href="#" type="button" class="btn btn-primary" data-toggle="modal" data-target="#signIn ,#signUp">Sign In</button>
            </div>
          </div>
        </div>


	</div>
</div>
<% include ./partials/footer %>
