<form class="" action="./" method="post">
  <label for="email">Email</label>
  <input type="text" name="email" value="">
  <label for="password">Password</label>
  <input type="text" name="password" value="">
  <label for="password">Password</label>
  <input type="text" name="password" value="">
  <input type="submit" value="submit">
</form>
