body {
 background-color: #f3f1fa    ;
}


a {
  color: #00B7FF;
}

table td{
  border:1px black solid;
  padding: 2px 7px 2px 0;
}
table tfoot td{
  border:2px black solid;
  font-weight: 500;
}
nav.navbar.navbar-default{
  margin-bottom: -3px;
}

#index-hero{
  width: 100%;
  height:300px;
  background-image: url("../images/map.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
#index-hero h1{
  padding-top: 110px;
  margin-top: 0;
  font-size: 64px;
  text-align: center;
  text-shadow: 2px 4px 3px black;
  color:white;
}
.nav.navbar-nav.navbar-right{
  margin-right: 10px;
}
#newDayBtn, #backToTripsBtn, #BackToDays{
  width:100%;
  margin-top: 10px;
}
#signIn, #signUp{
  padding-top: 100px;
}
.formBkg{
  background-color: #f1f1f1;
  border-radius: 10px;
}
#createTripForm input{
  width:100%;
}
