<% include ../partials/headder %>
<% for(var i = 0; i < days.length; i++){ %>
  <div class="">
    <a href="./days/<%= days[i]._id %>/edit"><%= days[i].date.toDateString() %></a>
  </div>
<% } %>
<% include ../partials/footer %>
